.about-container {
    margin-top: 100px;
}

.first-row-container {
    margin: 30px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.about-me {
    text-align: center;
    color: white;
}

.blurb-container {
    max-width: 500px;
    margin-left: 20px;
    color: white;

}

.second-row-container {
    margin: 30px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.hobby-image-container {
    padding: 20px;
}

.skills-container {
    list-style-type: none;
    display: flex;
    color: white;

}

.languages-container {
    margin: 20px;
}

.concepts-container {
    margin: 20px;
}

.tech-container {
    margin: 20px;
}

.left-btn {
    color: black;
    border: 2px solid rgb(2, 130, 216);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.left-btn:hover {
    background-color: #4c6faf;
    color: white;
}

.right-btn {
    color: black;
    border: 2px solid rgb(2, 130, 216);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.right-btn:hover {
    background-color: #4c6faf;
    color: white;
}

@media screen and (max-width: 768px) {
    .first-row-container {
        display: block;
        align-items: center;
    }

    .headshot {
        max-width: 85vw;
        padding-bottom: 30px;
        justify-content: center;
    }

    .second-row-container {
        display: block;
    }

    .skills-container {
        display: block;
        text-align: center;
        padding-bottom: 50px;
    }

    .hobby-image-container {
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;

    }

    .left-btn {
        position: absolute;
        top: -5%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* margin-top: 30px; */
    }

    .right-btn {
        position: absolute;
        top: 105%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img, svg {
        justify-content: center;
        max-width: 60vw;
    }
}


