header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 25px;
}

.socials {
    list-style-type: none;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
}

