.react-pdf__Page__canvas { 
    display: block; 
    user-select: none; 
    width: 612px; 
    height: 792px;
    margin: 0 auto;
}

.download {
    text-align: center;
    font-size: 20;
    padding-top: 60px;
    margin: 10px;
} 

a {
    color: red;
}

.page {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .react-pdf__Page__canvas { 
        display: block; 
        user-select: none; 
        max-width: 80vw;
        max-height: 50vh;
        margin: 0 auto;
    }
}

