.portfolio-container {
    justify-content: center;
    display: block;
    margin: 30px;
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.full-stack {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app-title {
    color: blue;
}

.frontend {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.backend {
    justify-content: center;
    align-items: center;
    text-align: center;
}